@import "../../utils/variables.scss";

.Card {
  border: 1px solid $main-blue;
  border-radius: 20px;
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &_title {
    margin-bottom: 20px;
    text-transform: uppercase;
    align-self: flex-start
  }

  &_image {
    max-width: 100px;
    height: auto;
    // background-color: #e2e2e2;
    margin-bottom: 20px;
  }

  &_button {
    margin-top: 16px;
  }
}

.Icass {
  margin-bottom: 20px;
  background-color: $accent-gray;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;

  &_title {
    text-transform: uppercase;
  }

  &_data {
    padding: 4px;
    display: flex;

    &--pass {
      color: $text-green;
    }

    &--fail {
      color: $text-red;
    }
  }

  &_link {
    font-weight: 700;
    color: $link-blue;

    &:hover {
      cursor: pointer;
    }
  }
}

.Icass_table {
  border-collapse: collapse;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;

  &-header {
    background-color: $main-blue;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
  }

  &-head {
    padding: 26px 4px;
  }

  &-row {
    border-bottom: 1px solid $main-blue;
    display: flex;
    justify-content: space-between;
  }
}

.Exam {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 14px 40px;
  background-color: $accent-gray;

  &_title {
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  &_link {
    font-weight: 700;
    color: $link-blue;

    &:hover {
      cursor: pointer;
    }
  }
}