.Footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 40px 94px;
  background-color: #000000;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  margin-top: auto;
}