.Footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  max-width: 100vw;
  padding: 40px 95px;
  background-color: #000;
  color: #fff;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}