@import "../../utils/variables.scss";

.Card {
  border: 1px solid $main-blue;
  border-radius: 20px;
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &_title {
    margin-bottom: 20px;
    text-transform: uppercase;
    align-self: flex-start
  }

  &_image {
    //width: 150px;
    //height: 150px;
    //background-color: #e2e2e2;
    margin-bottom: 20px;
  }

  &_button {
    margin-top: 16px;
  }
}

.Table {
  border-collapse: collapse;
  &_header {
    background-color: $main-blue;
    font-weight: 700;
    font-size: 24px;
    line-height: 39px;
  }

  &_row {
    border-bottom: 1px solid $main-blue;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;

    &--period {
      font-weight: 700;
    }

    &--subject {
      color: $text-green;
    }
  }

  &_data {
    padding: 4px;
  }
}