.Login-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px;
  background-color: #b1f0f8;
  color: #5d6263;
  border-top-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.Login-form__field {
  display: flex;
  flex-direction: column;
}

.Login-form__input {
  outline: 0;
  padding: 8px;
  border-radius: 8px;
}

.Login-form__showpassword {
  display: flex;
  gap: 16px;
}

.Login-form__button {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 60px;
  border-radius: 20px;
  width: fit-content;
}